/* CSS */

/* Define color variables */
:root {
    --colorOne: #161925;
    --colorTwo: #23395b;
    --colorThree: #c42021;
    --colorFour: #8ea8c3;
    --colorFive: #f5efed;
    --colorSix: #0a369d;
  }
  
  /* Global styles */
  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: var(--colorTwo);
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Showtime text styles */
  p#showtime-text {
    position: relative;
    color: var(--colorSix);
  }
  
  /* Showtime value styles */
  div#showtime {
    position: relative;
    top: -40px;
    left: 120px;
    color: #c42021;
  }
  
  /* Runtime value styles */
  div#runtime {
    position: relative;
    top: -123px;
    left: 340px;
    color: #c42021;
  }
  
  /* Runtime text styles */
  p#runtime-text {
    position: relative;
    top: -83px;
    left: 240px;
    color: var(--colorSix);
  }
  
  /* Hero section styles */
  section#hero-section {
    background-color: var(--colorFive);
  }
  
  /* Movie poster styles */
  img {
    width: 500px;
    height: 500px;
    border: 3px solid black;
    border-radius: 10px;
  }
  
  /* Page title styles */
  h1 {
    text-align: center;
    font-size: 50px;
    background-color: var(--colorOne);
    color: white;
    display: inline-block;
    width: 100%;
  }
  
  /* Movie title styles */
  h2 {
    margin-left: 100px;
    font-size: 35px;
    text-decoration: underline;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  /* Movie display styles */
  div#movie-display {
    position: relative;
    left: 500px;
    top: -570px;
  }
  
  /* Film list styles */
  ul#films li {
    list-style: none;
    font-size: 25px;
    margin-left: 20px;
    line-height: 35px;
  }
  
  /* Hover styles for film list items */
  ul#films li:hover {
    color: var(--colorThree);
  }
  
  /* Movie title styles */
  h3#movie-title {
    font-size: 35px;
    margin-left: 0px;
  }
  
  /* Movie tickets section styles */
  section#movie-tickets {
    position: relative;
    left: 700px;
    top: -710px;
  }
  
  /* Bottom text styles */
  .bottom-text {
    line-height: 40px;
    font-size: 25px;
  }
  
  /* Buy tickets button styles */
  button {
    font-size: 25px;
    height: 60px;
    width: 300px;
    border: 0px;
    background-color: var(--colorSix);
    color: white;
    border-radius: 10px;
    position: relative;
    top: 20px;
    left: -125px;
  }
  
  /* Tickets remaining styles */
  div#tickets-remaining {
    position: relative;
    top: 20px;
    left: -100px;
    color: var(--colorOne);
    font-weight: bold;
  }
  
  /* Ticket counter styles */
  div#ticket-counter {
    position: relative;
    top: 25px;
    font-size: 40px;
    background-color: var(--colorSix);
    width: 70px;
    height: 70px;
    padding-top: 15px;
    padding-left: 10px;
    color: white;
    border-radius: 50%;
  }
  
  