body {
  background-color: darkslategrey;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  cursor: pointer;
  background-color: #1a1a1b;
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

li:hover {
  background-color: #5f7499;
}

.film-card {
  display: none;
  background-color: #a85751;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px #7d2e68;
  height: 600px;
  position: relative;
}

.film-card.active {
  display: block;
}

.film-card-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
  object-fit: cover;
}

.film-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
  text-align: center;
}

.film-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.film-description {
  font-size: 18px;
  margin-bottom: 20px;
}

.film-byline {
  font-size: 16px;
  margin-bottom: 10px;
}

.film-btn {
  background-color: #011638;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.film-btn:hover {
  background-color: #008b8b;
}

.highlight {
  background-color: #011638;
  color: #dff8eb;
}

.bold-text {
  font-weight: bold;
}

.bold-italic-text {
  font-weight: bold;
  font-style: italic;
}
